<a href="https://colab.research.google.com/github/maushamkumar/Python/blob/main/session_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [25]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []
for i in test_list:
  unique.append(i[0])

print(unique)
unique = set(unique)

result = []
for i in unique:
  result.append([i])
  for j in test_list:
    if j[0] == i:
      result[-1].append(j[1])
print(result)
print(list(map(tuple, result)))

[5, 5, 5, 6, 7]
[[5, 6, 7, 8], [6, 10], [7, 13]]
[(5, 6, 7, 8), (6, 10), (7, 13)]

In [22]:
# Input list
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

# Initialize result list
result = []

# Iterate over each tuple in the input list
for t in test_list:
    found = False
    for i in range(len(result)):
        # If the first element matches, add the second element to the tuple
        if result[i][0] == t[0]:
            result[i] = result[i] + (t[1],)
            found = True
            break
        print(result[i][0])
    # If the first element is not found, add a new tuple to the result list
    if not found:
        result.append(t)

# Print the result
print(result)

5
5
6
[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [24]:
# write your code here
t = (1, 5, 7, 8, 10)

result = []

for i in range(len(t)):
  left_product = 0
  right_product = 0

  if i > 0:
    left_product = t[i] * t[i-1]

  if i <  len(t) - 1:
    right_product = t[i] * t[i + 1]

  sum = left_product + right_product

  result.append(sum)

print(tuple(result))

(5, 40, 91, 136, 80)

In [8]:
t = (1, 5, 7, 8, 10)

result = []

result.append(t[0]*t[0])
for i in range(1, len(t)-1):
  result.append(t[i]*t[i-1] + t[i]*t[i+1])

result.append(t[-1]*t[-2])

print(tuple(result))

(1, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [9]:
# write your code here
t1 = (1,2,3,0)
t = (1,2,3,0)
t2 = (0,1,2,3)

if t1 == t2:
  print("same")
else:
  print("not same")

for i, j in zip(t1, t2):
  if i == j:
    continue
  else:
    print('not same')
    break
else:
  print("same")

not same
not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
<class 'set'>
<class 'tuple'>
<class 'list'>

In [5]:
# # write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
l = 0
s = 0
t = 0
for i in range(len(list1)):
  if (type(list1[i])) == set:
    s += 1
  elif (type(list1[i])) == tuple:
    t += 1
  elif (type(list1[i])) == list:
    l += 1

print("List-", l)
print("Set-", s)
print("Tuples-", t)

List- 2
Set- 2
Tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [6]:
# write your code here
student = []

records = input("Enter no of records- ")
for i in range((records)):
  details = input("Enter Details of student- ", i+1)
  name = input("Enter Student name- ")
  higher_education = input("Enter Higher Education- ")
  primary_skill = input("Enter Primary Skill- ")
  year_of_graduation = input("Enter Year of Graduation- ")
  student.append((name, higher_education, primary_skill, year_of_graduation))
  print(student)


job_role = input("Enter Job Role Requirement")
skill = input("Enter Skill- ")
higher_education = input("Enter Higher Education- ")
year_of_graduation = input("Enter Year of Graduation- ")

for i in student:
  if i[2] == skill and i[1] == higher_education and i[3] == year_of_graduation:
    print(i)
    break
else:
  print("No such candidate")

print(name, higher_education, primary_skill, year_of_graduation)

Enter Student name- Manohar
Enter Higher Education- B.tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Manohar B.tech Python 2022

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [3]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)

list(s1.intersection(s2).intersection(s3))
list((s1&s2)&s3)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [12]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

vowels = set("aeiouAEIOU")
m = set(Str1)
count = 0
for i in m:
  if i in vowels:
    count += 1

print("No of vowels-", count)

# Another way of doing it

vowels = set("aeiouAEIOU")
s = set(Str1)

print("No of unique vowels-", len(vowels & s))

No of unique vowels- 10
No of vowels- 6
No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [14]:
# write your code here
text = input("Enter your text: ")
if len(set(text)) == 2:
  print("Yes")
else:
  print("No")

Enter your text: 3453535
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [18]:
# write your code here
number = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]


s = set()
for i in number:
  s |= set(i)
print(list(s))

v = set()
for i in number:
  v.update(i)

print(list(v))

[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [21]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[i for i in lst1 if i in lst2]

list(set(lst1) & set(lst2))

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [30]:
# write your code here
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

max_val = 0
max_key = ""
for i in test_dict:
  if max_val < len((set(test_dict[i]))):
    max_val = len((set(i)))
    max_key = i

print(max_key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [33]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

for i in repl_dict:
  test_str = test_str.replace(i, repl_dict[i])

print(test_str)

best
ye dict wala h  is the best channel
DS
ye dict wala h  Data-Science
CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [36]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

dict(zip(key_list, test_list))

n = len(test_list)
result = []

for i in range(0, n, 2):
  result.append(key_list[0]: test_list[i], key_list[1]: test_list[i+1])

print(result)

SyntaxError: invalid syntax (<ipython-input-36-5a0ef84b906b>, line 11)

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [38]:
# write your code here
test_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

dict(test_list)
d = {}
for i,j in test_list:
  d[i] = j

print(d)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [46]:
# write your code here
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

res = {}
for i in sorted(d):
  res[i] = sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}