In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('vahan.csv')

In [3]:
df.head()

,year,month,state,rto,vehicle_class,fuel,value,unit,note
0,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,BUS,DIESEL,2,value in Absolute Number,NaN
1,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,DIESEL,23,value in Absolute Number,NaN
2,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,PETROL,1,value in Absolute Number,NaN
3,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,ELECTRIC(BOV),1,value in Absolute Number,NaN
4,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL,387,value in Absolute Number,NaN

In [7]:
df['fuel'].value_counts()

fuel
DIESEL                22961
PETROL                12951
ELECTRIC(BOV)          8691
CNG ONLY               4651
PETROL/CNG             3760
PETROL/HYBRID          2959
PURE EV                2251
PETROL/ETHANOL         1820
NOT APPLICABLE         1577
STRONG HYBRID EV        943
DIESEL/HYBRID           868
PETROL/LPG              663
LPG ONLY                492
ETHANOL                 118
LNG                      76
PLUG-IN HYBRID EV        45
FUEL CELL HYDROGEN        8
DUAL DIESEL/LNG           4
DUAL DIESEL/CNG           2
SOLAR                     1
Name: count, dtype: int64

In [6]:
df['vehicle_class'].value_counts()

vehicle_class
MOTOR CAR                           7885
MOTOR CAB                           5233
GOODS CARRIER                       4836
THREE WHEELER (PASSENGER)           4640
M-CYCLE/SCOOTER                     3957
                                    ...
MOTOR CARAVAN                          8
PULLER TRACTOR                         7
BULLDOZER                              5
MOTOR CYCLE/SCOOTER-WITH TRAILER       5
TREE TRIMMING VEHICLE                  4
Name: count, Length: 72, dtype: int64

In [5]:
df['rto'].value_counts()

rto
All Vahan Running Office    64841
Name: count, dtype: int64

In [4]:
df['state'].value_counts()

state
Karnataka                                   3519
Maharashtra                                 3224
Rajasthan                                   3142
Gujarat                                     3034
Uttar Pradesh                               2998
Tamil Nadu                                  2945
West Bengal                                 2799
Haryana                                     2699
Madhya Pradesh                              2670
Kerala                                      2666
Andhra Pradesh                              2549
Odisha                                      2485
Bihar                                       2107
Jharkhand                                   2105
Chhattisgarh                                2026
Assam                                       2024
Punjab                                      1998
Uttarakhand                                 1887
Himachal Pradesh                            1788
Jammu and Kashmir                           1617
Goa                                         1497
Delhi                                       1410
Dadra and Nagar Haveli and Daman and Diu    1353
Chandigarh                                  1278
Puducherry                                  1255
Tripura                                     1251
Arunachal Pradesh                           1091
Meghalaya                                   1059
Nagaland                                     757
Mizoram                                      743
Ladakh                                       739
Andaman and Nicobar Islands                  720
Manipur                                      698
Sikkim                                       613
Lakshadweep                                   95
Name: count, dtype: int64

In [5]:
df['fuel'].value_counts()

fuel
DIESEL                22961
PETROL                12951
ELECTRIC(BOV)          8691
CNG ONLY               4651
PETROL/CNG             3760
PETROL/HYBRID          2959
PURE EV                2251
PETROL/ETHANOL         1820
NOT APPLICABLE         1577
STRONG HYBRID EV        943
DIESEL/HYBRID           868
PETROL/LPG              663
LPG ONLY                492
ETHANOL                 118
LNG                      76
PLUG-IN HYBRID EV        45
FUEL CELL HYDROGEN        8
DUAL DIESEL/LNG           4
DUAL DIESEL/CNG           2
SOLAR                     1
Name: count, dtype: int64

In [6]:
df['unit'].value_counts()

unit
value in Absolute Number    64841
Name: count, dtype: int64

In [7]:
df['note'].value_counts(
    
    
)

Series([], Name: count, dtype: int64)

In [8]:
df.shape

(64841, 9)

In [9]:
df.isnull().sum()

year                 0
month                0
state                0
rto                  0
vehicle_class        0
fuel                 0
value                0
unit                 0
note             64841
dtype: int64