In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("books_to_scrape_data.csv")

In [3]:
df.head()

,title,price,price_numeric,rating,availability,description,book_url,image_url,upc,product_type,price_(excl._tax),price_(incl._tax),tax,number_of_reviews
0,A Light in the Attic,£51.77,51.77,3,In stock (22 available),It's hard to imagine a world without A Light i...,http://books.toscrape.com/catalogue/a-light-in...,http://books.toscrape.com/media/cache/2c/da/2c...,a897fe39b1053632,Books,£51.77,£51.77,£0.00,0.0
1,Tipping the Velvet,£53.74,53.74,1,In stock (20 available),"""Erotic and absorbing...Written with starling ...",http://books.toscrape.com/catalogue/tipping-th...,http://books.toscrape.com/media/cache/26/0c/26...,90fa61229261140a,Books,£53.74,£53.74,£0.00,0.0
2,Soumission,£50.10,50.10,1,In stock (20 available),"Dans une France assez proche de la nôtre, un h...",http://books.toscrape.com/catalogue/soumission...,http://books.toscrape.com/media/cache/3e/ef/3e...,6957f44c3847a760,Books,£50.10,£50.10,£0.00,0.0
3,Sharp Objects,£47.82,47.82,4,In stock (20 available),"WICKED above her hipbone, GIRL across her hear...",http://books.toscrape.com/catalogue/sharp-obje...,http://books.toscrape.com/media/cache/32/51/32...,e00eb4fd7b871a48,Books,£47.82,£47.82,£0.00,0.0
4,Sapiens: A Brief History of Humankind,£54.23,54.23,5,In stock (20 available),From a renowned historian comes a groundbreaki...,http://books.toscrape.com/catalogue/sapiens-a-...,http://books.toscrape.com/media/cache/be/a5/be...,4165285e1663650f,Books,£54.23,£54.23,£0.00,0.0

In [4]:
df.shape

(1000, 14)

In [5]:
df.columns

Index(['title', 'price', 'price_numeric', 'rating', 'availability',
       'description', 'book_url', 'image_url', 'upc', 'product_type',
       'price_(excl._tax)', 'price_(incl._tax)', 'tax', 'number_of_reviews'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   price              1000 non-null   object
 2   price_numeric      1000 non-null   float64
 3   rating             1000 non-null   int64
 4   availability       1000 non-null   object
 5   description        20 non-null     object
 6   book_url           1000 non-null   object
 7   image_url          1000 non-null   object
 8   upc                20 non-null     object
 9   product_type       20 non-null     object
 10  price_(excl._tax)  20 non-null     object
 11  price_(incl._tax)  20 non-null     object
 12  tax                20 non-null     object
 13  number_of_reviews  20 non-null     float64
dtypes: float64(2), int64(1), object(11)
memory usage: 109.5+ KB